@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden auto;
    font-family: "DM Sans";

}
html,body{
    height: 100%;
    width: 100%;
}
.flex{
    display: flex;
  
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    overflow: hidden auto;

}

.container{
    height: 100%;
    width: 100%;
    padding:2vh 3vh;
   
    

}

nav img{
    width: 150px;

}
main{
    margin-top: 5vh;
    flex-direction: column;
    gap: 2rem;
}
main h3{
      font-size: 3rem;
      font-weight: bolder;
      color:deepskyblue;
  }

  main>p{
    font-size: 1.8rem;
    font-weight: 500;
    color:hotpink;

  }
.join-now{
    flex-direction: column;
    gap: 1rem;
}

 #join{
    width: 20%;
    border: none;
    background-color: rgba(0, 0, 255, 0.769);

    padding: .7rem 3rem;

    position: relative;

    border-radius: 50px;
    color: aliceblue;

    font-size: 1rem;
    box-shadow: 5px 5px 7px 0px #00003f;
    z-index: 1;



}
 #join:hover{
    cursor: pointer;

 }
 #join:hover::before{
    transform: scaleX(1);
}
#join::before{
    content: "";
    
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
     z-index: -1;

}
 .join-now p{
    font-size: 1.2rem;
    color:darkgray;

 }
 .left,.right{
    width: 40%;
    flex-direction: column;
    row-gap: .7rem;



 }
 .right{
    text-align: right;
 }


 .left img{
    width: 120px;
 }
.right img:hover{
    transform: scale(1.4);
}
 footer{
    margin-top: 2rem;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1rem;
    font-weight: 500;
    color:cadetblue;




    
 }

 



 @media (max-width:900px){
    .container{
  
        padding:3vh 4vh;
    
    }
    main{
        gap: 2.2rem;

    }
    main h3{
        font-size: 2.5rem;
    }
    main>p{
        font-size: 1.5rem;
  
    
      }
      .join-now{
        gap: .7rem;
    }
     #join{
        padding: .9rem 2rem;
         font-size: .8rem;
     }
     .join-now p{
        font-size: 1.1rem;    
     }
     .left,.right{
        width: 40%;
     }
    

 }
 @media(max-width:621px)
 {
    .container{
       
        padding:4vh;
    
    }
    main{
        gap: 2.5rem;

    }
    main h3{
        font-size: 2rem;
    }
    main>p{
        font-size: 1.3rem;
  
    
      }

     #join{
        padding: 1rem;
        background-color: rgba(0, 0, 255, 0.712);
         border: none;
         font-size: .7rem;
         line-break: loose;
         text-align: center;
     }
     .join-now{
        gap: 1.2rem;
     }
     .join-now p{
        font-size: 1rem;    
     }
     .left,.right{
        width: 50%;
     }
    

 }

 @media(max-width:480px){
    .container{
       
        padding:5vh 2vh;
    
    }
   
    main{
        gap: 2.2rem;

    }
    main h3{
        font-size: 1.7rem;
        background-color: blanchedalmond;

    }
    main>p{
        font-size: 1.2rem;
  
    
      } 
    .join-now{
        gap: 1.5rem;
    }
     #join{
        padding: .6rem;
      
     }
     .join-now p{
        font-size: .9rem;    
     }
     .left,.right{
        width: 40%;

     }
     

 }
@media (max-width:370px)
{
    .join-now{
        gap: .7rem;
    }
     #join{
        width: 5rem;
               
     }
     .join-now p{
        font-size: .8rem;    
     }
     .left img{
        width: 80px;
     }
     footer{
        font-size: .9rem;
        font-weight: 400;
    
    
        
     }
    
}
@media (max-width:300px) {
    #join{
        width: 5rem;

        padding: .2rem 1rem ;
        border-radius: 2px;;
      
     }

    
}
